__pycache__/
env/
telegram_bot_log.out
telegram_bot_log_copy.out
telegram_bot_log-keyerror.out
telegram_bot_log-timeout.out
telegram_bot_log-peers.out

data/__pycache__/
data/pathways.json
data/message_translation.json
data/ratings.csv
data/users.json


postprocessing_logs.py
analysis/ 

.env

util/generate_safe_yml.py
