certifi
chardet
geographiclib
geopy
googletrans==3.1.0a0
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
pyTelegramBotAPI
requests
rfc3986
sniffio
python-telegram-bot
urllib3
python-dotenv
pyyaml>=3.10
git+https://github.com/D2KLab/python-i18n.git@c56cdf02ff0233d0752d0a68ce2760dc307bf8e2#egg=python-i18n